<a href="https://colab.research.google.com/github/s6ddu/Python_Learn/blob/main/Class_6_02_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=12 #a is a variable that stores 12 which is a whole number (Integer)
print("The value is =",a) #variable name-a

The value is = 12

In [ ]:
name='Shawni' #name variable stores characters (letters), (String)
print('My name is=',name) #variable name-name

My name is= Shawni

In [ ]:
price=12.67 #price is a variable that stores 12.67 which is a fraction value (float)
print('The price is =',price) #variable name-price

The price is = 12.67

In [ ]:
#Determine the type of the variable
a=567
#type(variable_name) is a function that determines the data type of the variable
print("The type is",type(a))

The type is <class 'int'>

In [ ]:
#Assign your school name into a variable school
#print the value of the variable
#print the type of the variable
school="Sun Rise"
print("School Name is", school)
print("The type is",type(school))

School Name is Sun Rise
The type is <class 'str'>

In [ ]:
price='1234'
print('The type is',type(price))
#Convert a string to integer
print('Integer Value is',int(price))

The type is <class 'str'>
Interger Value is 1234

In [ ]:
price=1234
print('The type is',type(price))
#convert an integer to string
print('The string value is',str(price))

The type is <class 'int'>
The string value is 1234

In [ ]:
price='1234.67'
print('The type is',type(price))
#Convert a string into float
print('The float value is',float(price))

The type is <class 'str'>
The float value is 1234.67

In [ ]:
#Take a variable m and assign the number '589.99' to it. 
#print the value of m
#print the type of m
#Convert m into float value
m='589.99'
print('The value is =',m)
print('The type is =',type(m))
print('The float value is',float(m))

The value is = 589.99
The type is = <class 'str'>
The float value is 589.99

In [ ]:
#Arithmetic Operators: +, -, *, /,%, **
a=4
b=2
print("The Value of a+b is =",a+b)
print("The Value of a-b is =",a-b)
print("The value of a*b is =",a*b)
print("The value of a/b is =",a/b)
print("The value of a%b is =",a%b)
print("The value of a to the power b is=",a**b)

In [ ]:
#Take a number 50
#Take another number 25
#Print the addition
#print the subtraction
#print the remainder 
var1=50
var2=25
print("Addition is ",var1+var2)
print("Subtraction is", var1-var2)
print("Remainder is",var1%var2)

Addition is  75
Subtraction is 25
Remainder is 0

In [ ]:
#// Operator
var1=60
var2=7
print(var1/var2)
print(var1//var2) #Returns the Quotient value
print(var1%var2) #Returns the remainder value

8.571428571428571
8
4

In [ ]:
#How to delete a variable
a=7
del a #del is used to delete a variable
print("Variable a has been deleted")

Variable a has been deleted

In [ ]:
#How to take input from user
var1=input('Enter Your Value ')
print('Your Entered value is',var1)
print('The type is',type(var1))

Enter Your Value rty
Your Entered value is rty
The type is <class 'str'>

In [ ]:
#Take an integer number as an input from the user
#print the value of the input
#Convert the input into integer
var=input("Enter a Value ")
print ("Your Entered value is ",var)
print ("Integer value is",int(var))

Enter a Value 1234
Your Entered value is  1234
Integer value is 1234

In [ ]:
var=int(input("Enter an integer :"))
print("The value is", var)
print ("The type is ",type(var))

Enter an integer :1234
The value is 1234
The type is  <class 'int'>

In [ ]:
#Take two integer variables from user
#print the addition and subtraction
var1=int(input("Enter first number"))
var2=int(input("Enter second number"))
print("Var1+var2= ",var1+var2)
print("Var1-var2= ",var1-var2)

Enter first number12
Enter second number45
Var1+var2=  57
Var1-var2=  -33