<a href="https://colab.research.google.com/github/s6ddu/Python_Learn/blob/main/class_6_1_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
a = 12
print ("The value is =",a)

The value is = 12

In [15]:
school = ("prioryrise")
print ("I attend priory rise school",type(school))
print ("The type is",type(school))

I attend priory rise school <class 'str'>
The type is <class 'str'>

In [19]:
price="1234"
print ("the type is",type(price))
print ("Integer Value is",int(price))

the type is <class 'str'>
Integer Value is 1234

In [21]:
price=1234.67
print ("The type is",type(price))
print("The float value is",float(price))

The type is <class 'float'>
The float value is 1234.67

In [25]:
m="589.99"
print (m)
print ("The type is",type(m))
print  ("The float value is",float(m))

589.99
The type is <class 'str'>
The float value is 589.99

In [31]:
a=12
b=2
print ("The Value of a+b is =",a+b)
print ("The Value of a-b is =",a-b)
print ("The Value of a*b is =",a*b)
print ("The Value of a/b is =",a/b)
print ("The Value of a%b is =",a%b)
print ("The Value of a**b is =",a**b)

The Value of a+b is = 14
The Value of a-b is = 10
The Value of a*b is = 24
The Value of a/b is = 6.0
The Value of a%b is = 0
The Value of a**b is = 144

In [32]:
a=50
b=25
print ("The Value of a+b is =",a+b)
print ("The Value of a-b is =",a-b)
print ("The Value of a%b is =",a%b)

The Value of a+b is = 75
The Value of a-b is = 25
The Value of a%b is = 0

In [33]:
var1=60
var2=7
print (var1/var2)
print (var1//var2)
print (var1%var2)

8.571428571428571
8
4

In [36]:
a=7
del a
print ("Variable a has been deleted")

variable a has been deleted

In [48]:
var1=input("Enter your value")
print ("Your entered value is",var1)
print ("The type of the value is",type(var1))
print ("The Integer Value is",int(var1))

Enter your value669
Your entered value is 669
The type of the value is <class 'str'>
The Integer Value is 669

In [54]:
var1=int(input("Enter your Integer"))
var2=int(input("Enter your Integer"))
print (var1+var2)
print (var1-var2)

Enter your Integer6
Enter your Integer7
13
-1