<a href="https://colab.research.google.com/github/s6ddu/Python_Learn/blob/main/class17_2_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1=float(input("Enter your Radius"))
var2= 3.14
print ("The circumference is",var1*var2*2)

Enter your Radius5
The circumference is 31.400000000000002

In [ ]:
a=float(input("Enter your radius"))
b=3.14
print ("The area is",b*a*a )

Enter your radius5
The area is 78.5

In [ ]:
s=9
s+=8
print ("The updated value of s is",s)
s-=3
print ("The updated value of s is",s)
s*=5
print ("The updated value of s is",s)
s/=3
print ("The updated value of s is",s)

The updated value of s is 17
The updated value of s is 14
The updated value of s is 70
The updated value of s is 23.333333333333332

In [ ]:
str1= "Hello UK"
len=len(str1)
print ("The length is",len)

The length is 8